

<form action=""method="">
<div class="container ">
	<div class="row">
			

			<!-- pannel -->
		<div class="panel panel-primary ">
			<div class="panel-heading text-center">Mes devis</div >

		



				<div class="panel-body">

						<!-- formulaire -->


					<table class="table">

						<tr >
						<td ><label for="id_devis">ID devis : </label></td >
						<td ><div class="form-group">
						<input type="text" name="id_devis"class="form-control" placeholder="ID devis">	
					</div></td >
						</tr>

						<tr >
						<td ><label for="id_devis"class="form-inline ">Statut </label></td >

						<td ><label class="radio-inline">
							<input type="radio" name="inlineRadioOptions" id="attente" value="option1"> En attente
						</label>
						<label class="radio-inline">
						<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Accepté
						</label>
						<label class="radio-inline">
						<input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Accompte payé
						</label></td >
						</tr>

						<tr >
						<td ><label for="id_devis"class="form-inline ">Type d'evenement :</label></td >
						<td ><div class="form-group">
							<select id="selection" class="form-control">
								
									<option value="">Type d'évenement</option>
									<option value="">Option 1</option>
									<option value="">Option 2</option>
									<option value="">Option 3</option>	
									<option value="">Option 4</option>
									<option value="">Option 5</option>
									<option value="">Option 6</option>									
								
							</select>
							
						</div></td >
						</tr>

						<tr >
						<td ><label for="id_devis"class="form-inline ">Date d'evenemnet :</label></td >
						<td ><input type="date" name="id_devis"class="form-control">	</td >
						</tr>

						<tr >
						<td ><label for="id_devis"class="form-inline ">Nombre de personne :</label></td >
						<td ><input type="number" name="id_devis"class="form-control">	</td >
						</tr>

						<tr >
						<td ><label for="id_devis"class="form-inline ">Nombre de table :</label></td >
						<td ><input type="number" name="id_devis"class="form-control">	</td >
						</tr>

						<tr >
						<td colspan="2">
							<div class="form-group">
							<label for="message">Remarque</label>
							<textarea class="form-control" rows="3">Remarque</textarea>
						</div>
						</td >
						
						</tr>

						
						<tr >
						<td class="text-rigth"><label for="id_devis"class="form-inline ">Prix total :</label></td >
						<td >	</td >
						</tr>

						<tr >
						<td ><label for="id_devis"class="form-inline ">Salle :</label></td >
						<td >	</td >
						</tr>

						<tr >
						<td colspan="2">
							<div class="form-group text-center">
							<button type="submit" class="btn btn-success"> Payer accompte</button>
						</div>
						</td >
						
						</tr>


						</table >

						<!-- --------------- -->


				</div >











			</div >
		</div >

</div>
</form>
