<!-- Footer -->
<div class="container-fluid footer pied">
  <div class="row">
    <div class="col-md-3 f1"></div> 
  </div>

  <div class="row">
    <div class="col-md-12">

      <div class="container lignetxt">
        <div row>
          <!--   -------------------l1 c1--------------------- -->
          <div class="col-md-3 element">
            <p class="titre">Contact</p>
            <address>
            <p ><span class="glyphicon glyphicon-envelope"></span>  info@decormoi.be</p>

            <p><span class="glyphicon glyphicon-phone"></span>  +123456789</p>

            <p><span class="glyphicon glyphicon-phone"></span>  +987654321</p>
            </address>
            
          </div>
          <!--   -------------------l1 c2--------------------- -->
          <div class="col-md-3 element">
                <p class="titre">Réseaux sociaux</p>
            <p><a href="#">Facebook</a>
            </p>
            <p><a href="#">Instagram</a>
            </p>
          </div>
          <!--   -------------------l1 c3--------------------- -->
          <div class="col-md-3 element">
            <p class="titre">Infos utiles</p>

              <p><a routerLink="conditionsgenerale">Conditions générale</a></p>
              <p><a routerLink="mentionlegale">Mentions légales</a></p>
              <p><a routerLink="faq">FAQ</a></p>

            
          </div>
          <!--   -------------------l1 c4--------------------- -->
          <div class="col-md-3 ">
           <p class="titre">Newsletter</p>
            <p>Chargement...</p>
            
          </div>
        <!--   -------------------l2--------------------- -->
          <div class="row">
            <div class="col-md-10 col-md-offset-2 lignedeux text-center cop">
            <p>copyright © 2021, Décor'Moi SRL. Tous droits réservés | Designed by</p>
            
          </div>

            
          </div>
          
        </div>

        
      </div>
      
    </div>
    
  </div>
  
</div>









