<form action=""method="">
<div class="container ">
	<div class="row">
			

			<!-- pannel -->
		<div class="panel panel-primary ">
			<div class="panel-heading text-center">

				Devis gratuit
			</div >
			<!-- grille gauche-->
				<div class="panel-body col-md-4">

					<div class="form-group">
							<label for="prenom">Prénom</label>
							<input type="text" name="prenom"class="form-control" placeholder="Prénom">
					</div>

					<div class="form-group">
							<label for="nom">Nom</label>
							<input type="text" name="nom"class="form-control" placeholder="Nom">
					</div>

					<div class="form-group">
							<label for="nom">Adresse mail</label>
							<input type="email" name="mail"class="form-control" placeholder="Adresse mail">
					</div>

					<div class="form-group">
							<label for="tel">Téléphone</label>
							<input type="tel" name="phone"class="form-control" placeholder="Téléphone">
					</div>

				



			
				</div >
				<!-- fin grille gauche-->
		<!-- --------------------------------------------------------->
				<!-- grille droite-->

				<div class="panel-body col-md-4">
					<div class="form-group">
							<label for="tel">Nombre de personne</label>
							<input type="number" name="phone"class="form-control" placeholder="Nombre de personne">
					</div>

					<div class="form-group">
							<label for="tel">Nombre de table</label>
							<input type="number" name="phone"class="form-control" placeholder="Nombre de table">
					</div>

					<div class="form-group">
							<label for="tel">Lieu d'evenement</label>
							<div class="form-group">
							<select id="selection" class="form-control">
								
									<option value="">Lieu d'evenement</option>
									<option value="">Option 1</option>
									<option value="">Option 2</option>
									<option value="">Option 3</option>	
									<option value="">Option 4</option>
									<option value="">Option 5</option>
									<option value="">Option 6</option>									
								
							</select>
							
						</div>
					</div>



					


			
				</div >
				<!-- fin grille droite-->

				<!-- grille droite 2-->

				<div class="panel-body col-md-4">
					<div class="form-group">
							<label for="tel">Type d'evenement</label>
							<div class="form-group">
							<select id="selection" class="form-control">
								
									<option value="">Type d'evenement</option>
									<option value="">Option 1</option>
									<option value="">Option 2</option>
									<option value="">Option 3</option>	
									<option value="">Option 4</option>
									<option value="">Option 5</option>
									<option value="">Option 6</option>									
								
							</select>
							
						</div>
					</div>

					<div class="form-group">
							<label for="dateevent">Date d'evenement</label>
							<input type="date" name="adr"class="form-control"placeholder="">
					</div>


					


			
				</div >
				<!-- fin grille droite 2-->
		</div >





	
	</div>

				<div class="form-group text-center">
							<label for="message">Remarque</label>
							<textarea class="form-control" rows="3">Remarque</textarea>
							<br><br>
							<button type="submit" class="btn btn-success "> Envoyer</button>
						</div>
			
		
		
	

	
</div>
</form>
