
<!-------------------------- GESTION UTILISATEUR ----------------------------------->

<div class="container">

        <div class="row">

            <div class="col-md-12">



            <table class="table" >
                <thead >
                    <tr  class="success">
                        <th >ID</th >
                        <th >Nom</th >
                        <th >E-mail</th >
                        <th >Adresse</th >
                        <th >Téléphone</th >
                        <th >Rôle</th >
                        <th >Selection</th >
                    </tr >
                </thead >

                <tbody >
                    <tr >
                        <td class="active" >1</td >
                        <td >*****</td >
                        <td >*****</td >
                        <td >*****</td >
                        <td >*****</td >                        
                        <td ><div class="form-group">
								
								<select id="selection" class="form-control">
								
									<option value="">Rôle</option>
									<option value="Client">Client</option>
									<option value="Agent">Agent</option>
									<option value="Administrateur">Administrateur</option>								
								</select>							
							</div>
						</td>

                        <td ><input type="checkbox" name=""></td>
                    </tr>

                    <tr >
                        <td class="active" >2</td >
                        <td >*****</td >
                        <td >*****</td >
                        <td >*****</td >
                        <td >*****</td >                        
                        <td ><div class="form-group">
								
								<select id="selection" class="form-control">
								
									<option value="">Rôle</option>
									<option value="Client">Client</option>
									<option value="Agent">Agent</option>
									<option value="Administrateur">Administrateur</option>										
								</select>							
							</div>
						</td>

                        <td ><input type="checkbox" name=""></td>
                    </tr>
                   
                    </tbody >

                     <tfoot >
                    <tr  class=" bg-dark text-center">
                        <td ><button type="submit" class="btn btn-success"> Ajouter</button></td > 
                        <td ><button type="submit" class="btn btn-info"> Modifier</button></td > 
                        <td ><button type="submit" class="btn btn-danger"> Supprimer</button></td > 

                        
                    </tr >
                	</tfoot >


                    </table >


                
            </div>
            
        </div>

<!-------------------------- MES DISPONIBILITES -----------------------------------><br><br><br>

