<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<script>
  // Prevent dropdown menu from closing when click inside the form
  $(document).on('click', '.navbar-right .dropdown-menu', function (e) {
    e.stopPropagation();
  });
</script>
<!-------------------------------- version invité --------------------------------------------------------------->
<header class="invit">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header col-md-1">
        <a class="navbar-brand" href="#">Decor'<span>MOI</span></a>
      </div>

      <div>
        <ul class="nav navbar-nav col-md-6">
          <li routerLinkActive="active"><a routerLink="acceuil">Home</a></li>
          <li routerLinkActive="active"><a routerLink="galerie">Galerie</a></li>
          <li routerLinkActive="active"><a routerLink="univers">Univers</a></li>
          <li routerLinkActive="active"><a routerLink="blog-list">Blog</a></li>
          <li routerLinkActive="active"><a routerLink="devis-form">Devis</a></li>
          <li routerLinkActive="active"><a routerLink="contact">Contact</a></li>
          <li routerLinkActive="active"><a routerLink="apropos">À propos</a></li>
        </ul>
        <!---------------- outils de recherche ---------------------->

        <form class="navbar-form form-inline col-md-2">
          <div class="input-group search-box">
            <input type="text" id="search" class="form-control" placeholder="rechercher ici..." />
            <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
          </div>
        </form>

        <form class="navbar-form form-inline col-md-2">
          <div class="text-info">
            <a routerLink="signup">Créer un compte</a>
          </div>
        </form>

        <form class="navbar-form form-inline col-md-2">
          <div class="input-group search-box">
            <a routerLink="signin"><button type="button" class="btn btn-primary">Se connecter</button></a>
          </div>
        </form>
      </div>
    </div>
  </nav>
</header>

<!-------------------------------- version client --------------------------------------------------------------->
<header class="client">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header col-md-1">
        <a class="navbar-brand" href="#">Decor'<span>MOI</span></a>
      </div>

      <div>
        <ul class="nav navbar-nav col-md-7">
          <li routerLinkActive="active"><a routerLink="acceuil">Home</a></li>
          <li routerLinkActive="active"><a routerLink="galerie">Galerie</a></li>
          <li routerLinkActive="active"><a routerLink="univers">Univers</a></li>
          <li routerLinkActive="active"><a routerLink="blog-list">Blog</a></li>
          <li routerLinkActive="active"><a routerLink="devis-form">Devis</a></li>
          <li routerLinkActive="active"><a routerLink="contact">Contact</a></li>
          <li routerLinkActive="active"><a routerLink="apropos">À propos</a></li>
          <li routerLinkActive="active"><a routerLink="single-event">Mes évenements</a></li>
          <li routerLinkActive="active"><a routerLink="devis-list">Mes devis</a></li>
          <li routerLinkActive="active"><a routerLink="#">Mon profil</a></li>
        </ul>
        <!---------------- outils de recherche ---------------------->

        <form class="navbar-form form-inline col-md-1">
          <div class="input-group search-box">
            <input type="text" id="search" class="form-control" placeholder="rechercher ici..." />
            <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
          </div>
        </form>

        <!---------------- outils d'authentification ---------------------->

        <form class="navbar-form form-inline navbar-right">
          <div>
            <button type="button" class="btn btn-danger">Se déconnecter</button>
          </div>
        </form>
      </div>
    </div>
  </nav>
</header>
<!-------------------------------- version agent --------------------------------------------------------------->
<header class="agent">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header col-md-1">
        <a class="navbar-brand" href="#">Decor'<span>MOI</span></a>
      </div>

      <div>
        <ul class="nav navbar-nav col-md-7">
          <li routerLinkActive="active"><a routerLink="acceuil">Home</a></li>
          <li routerLinkActive="active"><a routerLink="galerie">Galerie</a></li>
          <li routerLinkActive="active"><a routerLink="univers">Univers</a></li>
          <li routerLinkActive="active"><a routerLink="blog-list">Blog</a></li>
          <li routerLinkActive="active"><a routerLink="devis-form">Devis</a></li>
          <li routerLinkActive="active"><a routerLink="contact">Contact</a></li>
          <li routerLinkActive="active"><a routerLink="apropos">À propos</a></li>
          <li routerLinkActive="active"><a routerLink="blog-list">Mes évenements</a></li>
          <li routerLinkActive="active"><a routerLink="contact">Mes disponibilités</a></li>
        </ul>
        <!---------------- outils de recherche ---------------------->

        <form class="navbar-form form-inline col-md-2">
          <div class="input-group search-box">
            <input type="text" id="search" class="form-control" placeholder="rechercher ici..." />
            <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
          </div>
        </form>

        <!---------------- outils d'authentification ---------------------->

        <form class="navbar-form form-inline navbar-right">
          <div>
            <button type="button" class="btn btn-danger">Se déconnecter</button>
          </div>
        </form>
      </div>
    </div>
  </nav>
</header>

<!-------------------------------- version administrateur --------------------------------------------------------------->
<header [ngSwitch]="account !== null" class="admin">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header col-md-1">
        <a class="navbar-brand" href="#">Decor'<span>MOI</span></a>
      </div>

      <div>
        <ul class="nav navbar-nav col-md-8">
          <li routerLinkActive="active"><a routerLink="acceuil">Home</a></li>
          <li routerLinkActive="active"><a routerLink="galerie">Galerie</a></li>
          <li routerLinkActive="active"><a routerLink="blog-list">Blog</a></li>
          <li routerLinkActive="active"><a routerLink="contact">Contact</a></li>
          <li routerLinkActive="active"><a routerLink="apropos">À propos</a></li>
          <li routerLinkActive="active"><a routerLink="event">Evenements</a></li>
          <li routerLinkActive="active"><a routerLink="account/settings">Profil</a></li>

          <li *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
                  >Administration <span class="caret"></span
                ></a>
                <ul class="dropdown-menu">
                  <li routerLinkActive="active"><a routerLink="admin/user-management">Utilisateurs</a></li>
                  <li routerLinkActive="active"><a routerLink="produit">Articles</a></li>
                  <li routerLinkActive="active"><a routerLink="categorie-produit">Categorie d'articles</a></li>
                  <li routerLinkActive="active"><a routerLink="type-evenement">Type d'évenements</a></li>
                  <li routerLinkActive="active"><a routerLink="salle">Salles</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>

        <!---------------- outils de recherche ---------------------->

        <form class="navbar-form form-inline col-md-1">
          <div class="input-group search-box">
            <input type="text" id="search" class="form-control" placeholder="rechercher ici..." />
            <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
          </div>
        </form>

        <!---------------- outils d'authentification ---------------------->

        <form class="navbar-form form-inline navbar-right">
          <div>
            <button (click)="login()" type="button" *ngSwitchCase="false" class="btn btn-danger">Se Connecter</button>
            <button (click)="logout()" type="button" *ngSwitchCase="true" class="btn btn-danger">Se déconnecter</button>
          </div>
        </form>
      </div>
    </div>
  </nav>
</header>

<!--------------------------------------------------------------------------------------------------------------->
