<div class="container ">
	<div class="row">
		<div col-md-12 >
			<div class="panel panel-default">
				<div class="panel-heading"><h2>Nous contacter</h2></div>

				<div class="panel-body">
					
					<form action=""method="">
						<div class="form-group">
							<label for="nom">Prenom</label>
							<input type="text" name="nom"class="form-control">
						</div>

						<div class="form-group">
							<label for="nom">Nom</label>
							<input type="text" name="nom"class="form-control">
						</div>

						<div class="form-group">
							<label for="nom">Adresse-mail</label>
							<input type="email" name="mail"class="form-control">
						</div>

						<div class="form-group">
							<label for="nom">Téléphone</label>
							<input type="tel" name="tel"class="form-control">
						</div>

						<div class="form-group">
							<label for="selection">Type de demande</label>
							<select id="selection" class="form-control">
								
									<option value="">Option 1</option>
									<option value="">Option 2</option>
									<option value="">Option 3</option>	
									<option value="">Option 4</option>
									<option value="">Option 5</option>
									<option value="">Option 6</option>									
								
							</select>
							
						</div>

						<div class="form-group">
							<label for="message">Message</label>
							<textarea class="form-control" rows="3"></textarea>
						</div>
						<button type="submit" class="btn btn-success"> Envoyer</button>


					</form>
				</div>
				
			</div>
			
		</div>
	</div>
	
</div>