<div class="container">
        <div class="row">

            <div class="col-md-12">



            <table class="table" >
                <thead >
                    <tr  class="success">
                        <th >ID</th >
                        <th >Désignation</th >
                        <th >Prix</th >
                        <th >Catégorie</th >
                        <th >Code TVA</th >
                        <th >Selection</th >
                    </tr >
                </thead >

                <tbody >
                    <tr >
                        <td class="active" >1</td >
                        <td >produit</td >
                        <td >2$</td >
                        <td >Cat</td >                        
                        <td >0.6</td >
                        <td ><input type="checkbox" name=""></td>
                    </tr>

                    <tr >
                        <td class="active" >2</td >
                        <td > autre produit</td >
                        <td >2$</td >
                        <td >Cat</td >                        
                        <td >0.7</td >
                        <td ><input type="checkbox" name=""></td>

                    </tr>
                    <tr >
                        <td class="active" >3</td >
                        <td >produit</td >
                        <td >2$</td >
                        <td >Cat</td >                        
                        <td >0.6</td >
                        <td ><input type="checkbox" name=""></td>
                    </tr>
                    <tr >
                        <td class="active" >4</td >
                        <td >produit</td >
                        <td >2$</td >
                        <td >Cat</td >                        
                        <td >0.6</td >
                        <td ><input type="checkbox" name=""></td>
                    </tr>
                    </tbody >
                    </table >


                
            </div>
            
        </div><br><br><br>


            <div class="row">
                <div class="col-md-4">

                    <!--------- btn 1 --------->
 <div class="alert alert-warning alert-dismissible fade show" role="alert">
        Vous pouvez fermer cette alerte en cliquant sur la croix à droite
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">x</span></button>
      </div>
<!--------- fenetre modale --------->

<div class="container">
 <!-- Le bouton permet d'éviter
l'ouverture intempestive du modal pour
le cours -->
 <button type="button" class="btn btn-success mt-3" data-toggle="modal"
data-target="#modal">Ajouter</button>

 <div class="modal fade" id="modal"tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h4 class="modal-title text-center">Ajouter article </h4>
 <button type="button"class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span>
 </button>
 </div>
    <div class="modal-body ">

    <form>

                    <div class="form-group">
                            <label for="login">ID produit:</label>
                            <input type="text" name="login"class="form-control"placeholder="Code produit">
                    </div>

                    <div class="form-group">
                            <label for="pass">Désignation</label>
                            <input type="text" name="pass1"class="form-control" placeholder="Désignation">
                    </div>

                    <div class="form-group">
                            <label for="pass">Prix </label>
                            <input type="text" name="pass1"class="form-control" placeholder="Prix">
                    </div>

                    <div class="form-group">
                            <label for="pass">Catégoririe</label>
                            <input type="text" name="pass1"class="form-control" placeholder="Catégoririe">
                    </div>

                    <div class="form-group">
                            <label for="pass">Code TVA</label>
                            <input type="text" name="pass1"class="form-control" placeholder="Code TVA">
                    </div>

                     

            
                <button type="button"class="btn btn-success ">Enregistrer</button>

                    </form>
 </div>
 <div class="modal-footer center-alignment">
 <button type="button"class="btn btn-secondary" data-dismiss="modal">Fermer</button>
 </div>
 </div>
 </div>
 </div>
 </div> 
 <br><br>
 <!--------- fin modal--------->

                    
                </div> 

                <div class="col-md-4">

                     <!--------- btn 1 --------->
 <div class="alert alert-warning alert-dismissible fade show" role="alert">
        Vous pouvez fermer cette alerte en cliquant sur la croix à droite
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">x</span></button>
      </div>
<!--------- fenetre modale --------->

<div class="container">
 <!-- Le bouton permet d'éviter
l'ouverture intempestive du modal pour
le cours -->
 <button type="button" class="btn btn-info mt-3" data-toggle="modal"
data-target="#modal">Modifier</button>

 <div class="modal fade" id="modal"tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h4 class="modal-title text-center">Modifier article </h4>
 <button type="button"class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span>
 </button>
 </div>
    <div class="modal-body ">

    <form>

                    <div class="form-group">
                            <label for="login">ID produit:</label>
                            <input type="text" name="login"class="form-control"placeholder="Code produit">
                    </div>

                    <div class="form-group">
                            <label for="pass">Désignation</label>
                            <input type="text" name="pass1"class="form-control" placeholder="Désignation">
                    </div>

                    <div class="form-group">
                            <label for="pass">Prix </label>
                            <input type="text" name="pass1"class="form-control" placeholder="Prix">
                    </div>

                    <div class="form-group">
                            <label for="pass">Catégoririe</label>
                            <input type="text" name="pass1"class="form-control" placeholder="Catégoririe">
                    </div>

                    <div class="form-group">
                            <label for="pass">Code TVA</label>
                            <input type="text" name="pass1"class="form-control" placeholder="Code TVA">
                    </div>

                     

            
                <button type="button"class="btn btn-success ">Enregistrer</button>

                    </form>
 </div>
 <div class="modal-footer center-alignment">
 <button type="button"class="btn btn-secondary" data-dismiss="modal">Fermer</button>
 </div>
 </div>
 </div>
 </div>
 </div> 
 <br><br>
 <!--------- fin modal--------->
              
                    
                </div>

                <div class="col-md-4">
          
                
                     <button type="button"class="btn btn-danger ">Supprimer</button>
                    
                </div>   


            </div>





        
    </div>
