ul#nav {
  display:inline;
  float:left;
}
ul#nav li {
  float:left;
  list-style-type:none;
  margin:0 10px;
  position:relative;
}
ul#nav div {
  display:none;
  float:left;
  position:absolute;
}
ul#nav li ul {
  margin:0;
  padding:0;
}
ul#nav li ul li {
  margin:0px;
  width:150px;
}