.row1{border-radius: 5px;
		margin-bottom: 20px;
		margin-top: 20px;
		font-family: sans-serif;
			font-size: 1.2em;
			color: #292b2c;



	}
	p{ 
		color: gray;
	}

	.titre{ color:#292b2c;
		font-weight: bold;
			font-family: sans-serif;
			font-size: 1.8em;

	}