<!--------- blog --------->
<!-------------------- row 1------------------>
<div class="container bg-success row1">
	<div class="row">
		<div class="col-md-12 text-center ">

			<h1 class="text-center">Blog</h1>
			<p>
				Hello la communauté,

Vous nous avez découvert, pour les plus anciens, via nos décorations de mariages et pour beaucoup nous ne faisions que cela. Laissez-moi vous dire que c’est une grossière erreur et en même temps, mea culpa.
Car nous n’avions pas pris le temps de vous expliquer qui nous sommes et ce que nous faisons.
Voici la raison de ce blog, nous vous raconterons nos expériences, les nouvelles tendances, nos ambitions et challenges etc. bref notre life.
			</p>


		</div>

	</div>

</div>


<!-------------------- row 2------------------>


<div class="container">
	<div class="row">
		<!----------row 2 Colonne 1-------------->
		<div class="col-md-4 ">

			<!-- contenu -->

			<div class="thumbnail">
     			<img src="img.jpg" alt="Nature">
     		<div class="caption">
       			<h3 class="titre">Titre</h3>
       			<p>Hic dolore eram illum nescius, summis an nostrud ne varias. Ut quid dolore se deserunt se culpa doctrina possumus, irure distinguantur officia eram quamquam, ubi nam instituendarum, quamquam minim vidisse nescius.
       			</p>
       		<p>
       		<li routerLinkActive="active"><a routerLink="single-blog" class="btn btn-xs btn-default" role="button" title="Voir le détail">Voir le détail</a></li>

   		</p>

     		</div>

     		</div>

			<!-- ---------->

		</div>

		<!----------row 2 Colonne 2-------------->
		<div class="col-md-4">
						<!-- contenu -->

			<div class="thumbnail">
     			<img src="img.jpg" alt="Nature">
     		<div class="caption">
       			<h3 class="titre">Titre</h3>
       			<p>Hic dolore eram illum nescius, summis an nostrud ne varias. Ut quid dolore se deserunt se culpa doctrina possumus, irure distinguantur officia eram quamquam, ubi nam instituendarum, quamquam minim vidisse nescius.
       			</p>
       		<p>
       		<li routerLinkActive="active"><a routerLink="blog-single" class="btn btn-xs btn-default" role="button" title="Voir le détail">Voir le détail</a></li>

   		</p>

     		</div>

     		</div>

			<!-- ---------->


		</div>
		<!----------row 2 Colonne 3-------------->
		<div class="col-md-4">

						<!-- contenu -->

			<div class="thumbnail">
     			<img src="img.jpg" alt="Nature">
     		<div class="caption">
       			<h3 class="titre">Titre</h3>
       			<p>Hic dolore eram illum nescius, summis an nostrud ne varias. Ut quid dolore se deserunt se culpa doctrina possumus, irure distinguantur officia eram quamquam, ubi nam instituendarum, quamquam minim vidisse nescius.
       			</p>
       	<p>
       		<li routerLinkActive="active"><a routerLink="blog-single" href="blog-sigle" class="btn btn-xs btn-default" role="button" title="Voir le détail">Voir le détail</a></li>

   		</p>

     		</div>

     		</div>

			<!-- ---------->



		</div>
		<!--------------------fin row 2---------------->

		<!--------------------ligne suivante ici---------------->





	</div>

</div>


<!--------- fin blog --------->
