

<div class="container">

	<form>

		<div class="row">
			<div class="col-md-6 col-md-offset-3">

				<!-- pannel -->

				<div class="panel panel-primary">
			<div class="panel-heading text-center">	Connectez-vous</div >
			
				<div class="panel-body">

					<!-- corps pannel -->

					<div class="form-group">
							<label for="login">Nom d'utilisateur</label>
							<input type="text" name="login"class="form-control"placeholder="Nom d'utilisateur">
					</div>

					<div class="form-group">
							<label for="pass">Mot de passe</label>
							<input type="password" name="pass1"class="form-control" placeholder="Mot de passe">
					</div>

					<div class="form-group">
                         <p><a href="#">Mot de passe oublié ?</a></p> 
                    </div>

                    <div class="row text-center">
						<button type="submit" class="btn btn-success"> connexion</button>
					</div>


					<!-- fin corps pannel -->
							
				</div>					
		</div>




				<!-- fin pannel -->


				

			</div>
			
		</div>
		


	</form>
	
</div>















		
		

					

				
	
